/*
	Author: Ivan Pol
	Date: 12/14/2020
*/

body {
	font-family: 'Noto Sans JP', sans-serif;
}

hr {
	border: 1px solid #00000030;
	width: 100%;
}

p, h1, h2, h3, h4, h5 {
	color: #7e551b;
}

body, p, a, blockquote {
	font-family: 'Sriracha', cursive;
	font-size: 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Itim', cursive;
	text-transform: uppercase;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
    background: aquamarine;
	padding: .5em;
	-webkit-box-shadow: 1px 1px 4px 1px #8f551b;
	        box-shadow: 1px 1px 4px 1px #8f551b;
}

h3 {
	font-size: 1.1em;
}

header {
	background-color: aquamarine;
}

footer {
	background: aquamarine;
}

footer a {
	color: #6B5038;
}

footer h4 {
	text-decoration: underline;
}

form {
	border: 1px solid #6C7D17;
	padding: 0;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px 2px #97ad1d82;
	        box-shadow: 0px 0px 2px 2px #97ad1d82;
	max-width: 600px;
	margin: 2em auto;
	background-color: white;
}

form legend {
	padding: .5em;
	background-color: #6C7D17;
	text-align: center;
	color: white;
}

form legend:first-child {
	border-radius: 5px 5px 0 0;
}

.bg-green {
	background-color: #6C7D17;
}

.bg-brown {
	background-color: #6B5038;
}

.bg-aquamarine {
	background-color: aquamarine;
}

.bg-blue {
	background-color: #3475CB;
}

.color-green {
	color: #6C7D17;
}

.header-background {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-position: left;
	max-width: 1110px;
	margin: auto!important;
}

.menu-link:hover, .menu-link:focus {
	background-color: #6B5038;
	border-radius: 5px;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.menu-link_active {
	background-color: #6B5038;
	font-weight: bold;
}

.img-overlay {
    width: 200px;
    height: 100%;
	background: rgb(255,255,255);
	background: -o-radial-gradient(white, transparent);
	background: radial-gradient(white, transparent);
}

.center {
	max-width: 1110px;
    margin: auto!important;
	width: 100%;
}

.card {
	height: 100%;
	outline: none;
	border: none;
}

.card-wrapper {
	padding: .5em;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.card-testimonial {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 0;
	margin: 0;
	height: 100%;
}

.card-top {
	background: -webkit-gradient(linear,left bottom, left top,from(#6b5038),to(#28a745));
	background: -o-linear-gradient(bottom,#6b5038,#28a745);
	background: linear-gradient(to top,#6b5038,#28a745);
	height: 140px;
	padding: 0;
	margin: 0;
}

.card-testimonial_img {
	margin: 70px 0 0 0;
	border-radius: 50%;
	border: 2px solid white;
}

.adv-header {
	background: rgb(127 255 212);
    background: -webkit-gradient(linear, left top, right top, from(rgb(31 226 161)), color-stop(50%, rgb(255 255 255)), to(rgb(31 226 161)));
    background: -o-linear-gradient(left, rgb(31 226 161) 0%, rgb(255 255 255) 50%, rgb(31 226 161) 100%);
    background: linear-gradient(90deg, rgb(31 226 161) 0%, rgb(255 255 255) 50%, rgb(31 226 161) 100%);
}

.fa-color {
	color: white;
}

.text-small {
	font-size: .9em;
	font-weight: normal;
}

.call-now {
	border: 3px dashed yellow;
    padding: 0 20px;
    border-radius: 10px;
	color: white;
}

.top-icon {
	font-size: 1em;
	border: 2px solid yellow;
	border-radius: 15px;
	padding: 0.2em 0.3em;
	color: yellow;
}

.top-icon:hover, .top-icon:focus {
	background-color: yellow;
	color: #6B5038;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.call-now:hover, .call-now:focus {
	text-decoration: none;
	background-color: white;
	color: #6B5038;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.menu-li {
	height: auto;
}

.li-style {
	font-family: 'Itim', cursive;
}

.shadow {
	-webkit-box-shadow: 1px 1px 4px 1px #8f551b;
	        box-shadow: 1px 1px 4px 1px #8f551b;
}

.my-header {
	background: none!important;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	font-size: 1em;
	text-transform: none;
}

.skipLink {
  	position: absolute;
  	left: -1000px;
}

.skipLink:focus,
.skipLink:active {
    left: 0;
}

#buyPlotForm {
	position: relative;
	background-color: white;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255 255 255 / 0.60)), to(rgb(255 255 255 / 0.8))), url(../images/veggieBackground.jpg);
	background-image: -o-linear-gradient(bottom, rgb(255 255 255 / 0.60), rgb(255 255 255 / 0.8)), url(../images/veggieBackground.jpg);
	background-image: linear-gradient(to top, rgb(255 255 255 / 0.60), rgb(255 255 255 / 0.8)), url(../images/veggieBackground.jpg);
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
	width: 100%;
}

#numberOfPlots {
	font-size: .7em;
    height: 2em;
}

#list-icon {
	font-size: 3em;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.li-style {
		border-bottom: 1px solid white;
	}
}
